<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Connect Kissan | Dashboard</title>
</head>
<body>
    {{>navbar}}
    <div class="dashboard">
    <div class="left-board">
        <div class="user-info">
        <h6>
            Your Name: <strong>{{user.userName}}</strong>
            &nbsp;&nbsp;
            Your DealerShip: <strong>{{user.userDealer}}</strong>
        </h6> 
        </div>
        <form class="item-form" action="/add-item" method="post">
            <h2>Add your Item:</h2>
            <input name="userEmail" value={{user.userEmail}} readonly="true" />
            <input name="userPhone" value={{user.userPhone}} readonly="true" />
            <input name="itemName" type="text" placeholder="Item name.." required="true" />
            <textarea name="itemDetails" rows="4" type="text" placeholder="Item description" required="true" ></textarea>
            <input name="itemType" type="text" placeholder="Item type" required="true" />
            <input name="itemPrice" type="text" placeholder="Item price" required="true" />
            <input type="file" id="img" name="itemImg" accept="image/*">
            <button class="add-item" type="submit">Add Item</button>
        </form>
        
    </div>

    <div class="right-board">
        <div class="user-items">
            <h2>Your Items:</h2>
           
        </div>
        <div class="logout-div">
            <a class="logout" href="/logout">Logout</a>
        </div>
        
    </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>