<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>Connect Kissan</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <h3><a href="index.html"> Connect Kissan </a></h3>
      </div>
    </nav>
    <section class="admin-content">
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    </section>
  </body>
</html>
