<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>Connect Kissan | Login</title>
  </head>
  <body>
    {{>navbar}}
    <section class="main-content">
      {{>search}}
      <!--Login-->
      <div class="authenticate-box login">
        <h3>Login</h3>
        <form action="/login" method="POST">
          <input
            type="email"
            placeholder="Enter your Email.."
            name="email"
            required
          />
          <input
            type="password"
            id="passInputLand"
            placeholder="Enter your Password.."
            name="password"
            required
          />
          <small class="error-box">{{error.message}}</small>
          <button type="submit">Login</button>
          <small
            >Don't have an account? <br />
              <a href="/register">Sign up Here</a>
          </small>
        </form>
      </div>
    </section>
<script src="js/script.js"></script>

  </body>
</html>
