<nav class="navbar">
      <div class="logo">
        <h3><a href="/"> Connect Kissan </a></h3>
      </div>
      <div class="small-nav-icon">
        <label id="navbar-chckd">
          <div class="line line_1"></div>
          <div class="line line_2"></div>
          <div class="line line_3"></div>
        </label>
      </div>
      <div class="navbar-menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <div class="dropdown">
          <button class="dropbtn">Services</button>
          <div class="dropdown-content">
            <a href="/weather">Weather</a>
            <a href="/dealers">Dealer Near me</a>
            <a href="pesticides">Pesticide</a>
            <a href="/machines">Machines</a>
            <a href="/mandies">Mandies</a>
            <a href="/crops">Crops</a>
            <a href="/library">Library</a>
            <a href="/advise">Advise</a>
          </div>
        </div>
        <a href="/contact">Contact</a>
      </div>
    </nav>
    <nav class="small-nav-drawer hide" id="small-nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <div class="dropdown small">
          <a class="">Services</a>
          <div class="dropdown-content">
            <a href="/weather">Weather</a>
            <a href="/dealers">Dealer Near me</a>
            <a href="/pesticides">Pesticide</a>
            <a href="/machines">Machines</a>
            <a href="/mandies">Mandies</a>
            <a href="/crops">Crops</a>
            <a href="/library">Library</a>
            <a href="/advise">Advise</a>
          </div>
        </div>
      <a href="/contact">Contact</a>
    </nav>