<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>Connect Kissan | Dealers</title>
  </head>
  <body>
    {{>navbar}}
    {{>search}}
    <div class="map-integration">
      <iframe 
      src="https://www.google.com/maps/embed?pb=" 
      height="450" style="border:0; width: 100%" allowfullscreen="true" loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
   
    <script src="js/script.js"></script>
  </body>
</html>