<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>Connect Kissan | Machines</title>
  </head>
  <body>
    {{>navbar}}
    <h2>Machines</h2>
    <script src="js/script.js"></script>
  </body>
</html>