<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>Connect Kissan | Weather</title>
  </head>
  <body>
    {{>navbar}}
    <div class="weather">
      <div class="weather-section">
        <div class="find-weather">
        <input id="weatherField" name="weather-input" type="text" placeholder="Enter your city..">
        <button id="weather-get" type="submit">Search</button>
        </div>
        <h3> <span class="weather-degree">--</span> &deg;C</h3>
        <div>
        <p>
          <span class="city-name">--</span>,
          <span class="country-name">--</span>
          </p>
        </div>
        <i id="weather-icon" class="fa"></i>
        <small class="city-forcast">--</small>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>